<h3>User</h3>
<p>Nombre: <%= @user.nombre if @user.nombre %></p>
<p>Apellido: <%= @user.apellido if @user.apellido %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Rol: <%= @user.rol if @user.rol %></p>
